*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:black ;
}

header{
    background-color: #412567;
    color: azure;
    overflow-x: hidden;
    /* display: flex; */
    justify-content: space-between;

    

    
}
/* header */
.mainbar{

    width: 1600 px;
    height: 92 px;
    /* padding: 30px; */
    
     
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: sticky;
}
 

.logo h2{
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    gap: 0;
   
    

}

.color-primary{
    color: #c53f3f
}

.navbar-link{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 100px;

}

/* button radiant */
.radiant{
    background: linear-gradient(to right, #ff7a18, #ffdd00);
    color: white;
    justify-content: space-between;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;


} 
.radiant:hover{
    transform:scale(1.05)

}
/* hero section */

.hero-container{
    /* display:flex; */
    justify-content: center;
    align-items: center;
    background-image: url("assets/hero-bg.png");
    overflow: hidden;
    width: 100%;
    max-width: 1600px;    
     margin: 0 auto;
    transition: all 3s ease;
    
}

.wave-container{
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    transition: all 3s ease;
    animation: wave 4s ease-in-out infinite;
    
}
@keyframes wave{
0%, 100% {transform: scale(1);opacity: 0.8; }
    50% { transform: scale(1.1);opacity: 1; }
} 
.hero-circle{
width: 320px;
height: 320px;
z-index: 2;
position: relative;
margin: 0 auto;
/* padding: 2px 523PX 110px 527px; */
/* position: absolute; */
/* transition: all 3s ease; */
animation: pulse 4s ease-in-out infinite;
background-image: url(assets/hero-circle.png);
background-size: contain;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}


@keyframes pulse {
    0%, 100% {transform: scale(1);opacity: 0.8; }
    50% { transform: scale(1.1);opacity: 1; }
}
    
.microphone{
    width: 100px;
    z-index: 3;
    animation: Float 3s ease-in-out infinite;

}

@keyframes Float {
0%, 100% { transform: translateY(0); }
50% { transform: translateY(-20px); }
}

.green-new{
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 2px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: green;
   
}

.hero-header{
   text-align: center;
}
.hero-btn{
    display: flex;
    justify-content: center;
    gap: 15px; 
}
.spotify-btn{
   background: linear-gradient(to right, #ff7a18, #ffdd00);;
   color: white;
   display: flex;
   align-items: center;
   gap: 10px;
    padding: 10px 25px ;
    border-radius: 25px;
    /* border: 1px solid; */
    

}
.box {
  background: linear-gradient(to right, #ff7a18, #ffdd00);
}
.subscribe-btn{
   background-color: transparent;
   color: green;
   display: flex;
   align-items: center;
   gap: 10px;
    padding: 10px 25px ;
    border-radius: 25px;
    border: 1px solid;

 
}
/* ABOUT THE PODCAST */
 .about-pdcst{
    text-align: center;
    overflow: auto;
    text-wrap-style: balance;
    margin: 40px 10px;
    padding: 40px;
    color: white;
 }
 .reach{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 100px;
    margin: 40px 10px;
    font-weight: bolder;
    color: green;
 }
 .clr{
    color: white;
 }
 /* grid section */
 .about-pdcst{
    text-align: center;
 }
 .why-choose-tcwv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,2fr);
    gap: 30px;
    padding: 50px;
    margin-bottom: 30px;
    margin: 0 auto;
    color: white;
    max-width: 1100px;
    background-color: #1A0B2E 100%;
 
 }
 .card{
    padding: 40px;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: medium;
    border: 1px solid purple;
    background-color: #412567;
    gap: 15px;
    
 }
 .card h4{
    margin-top: 10px;
 }
 .card img{
    width: 50px;
    height: 50px;
 }
  .card-tall{
    grid-row: span 2;

 }
 .card-wide{
    grid-column: span 2;
    flex-direction: row;
    align-items: center;
 }
.card-btm{
    grid-column: span 1;
 }


